{{> header }}

    <div class="home-template">
       <div class="form-group">
           <input type="text" id="url" name="url" class="form-control" placeholder="Url..." />
       </div>
        <div class="form-group">
            <input type="text" id="urltext" name="urltext" class="form-control" placeholder="Url text(la for lallan and ic for ichowk..." />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="button" id="request">Request</button>

            <button class="btn btn-success" type="button" id="fetch">Fetch</button>
        </div>




        </div>

<div class="col-md-9" id="maincontent">

</div>


{{> footer }}